<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homies</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="home">
    <header>
        <div class="header__logo">
            <a href="/"><img src="/images/logo.png" alt=""></a>
        </div>
        <nav class="header__menu">
            <ul class="header__menu__sitio">
                <li><a href="">Smartphone</a></li>
                <li><a href="">Tablet</a></li>
                <li><a href="">Computadora</a></li>
            </ul>
            <ul class="header__menu__usuarios">
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header> 
    <main class="index">
        <section class="index__box-products">
            <article class="index__product">
                <div>
                   <a href=""><img src="/images/img-phone-01.jpg" alt=""></a>
                </div>
                <h4>nombre de Producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta asperiores magnam consequatur quae repellat. Labore itaque assumenda ut, ab rerum exercitationem ullam ipsa aliquam illum dignissimos obcaecati. Dolorem, eveniet vitae?</p>
                <a class="index__a">VER MAS</a>
            </article>
            <article class="index__product">
                <div>
                    <a href=""><img src="/images/img-phone-02.jpg" alt=""></a>
                </div>
                <h4>nombre de Producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta asperiores magnam consequatur quae repellat. Labore itaque assumenda ut, ab rerum exercitationem ullam ipsa aliquam illum dignissimos obcaecati. Dolorem, eveniet vitae?</p>
                <a class="index__a">VER MAS</a>
            </article>
            <article class="index__product">
                <div>
                    <a href=""><img src="/images/img-phone-03.jpg" alt=""></a>
                </div>
                <h4>nombre de Producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta asperiores magnam consequatur quae repellat. Labore itaque assumenda ut, ab rerum exercitationem ullam ipsa aliquam illum dignissimos obcaecati. Dolorem, eveniet vitae?</p>
                <a class="index__a">VER MAS</a>
            </article>
            <article class="index__product">
                <div>
                    <a href=""><img src="/images/img-phone-01.jpg" alt=""></a>
                </div>
                <h4>nombre de Producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta asperiores magnam consequatur quae repellat. Labore itaque assumenda ut, ab rerum exercitationem ullam ipsa aliquam illum dignissimos obcaecati. Dolorem, eveniet vitae?</p>
                <a class="index__a">VER MAS</a>
            </article>
            <article class="index__product">
                <div>
                    <a href=""><img src="/images/img-phone-02.jpg" alt=""></a>
                </div>
                <h4>nombre de Producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta asperiores magnam consequatur quae repellat. Labore itaque assumenda ut, ab rerum exercitationem ullam ipsa aliquam illum dignissimos obcaecati. Dolorem, eveniet vitae?</p>
                <a class="index__a">VER MAS</a>
            </article>
            <article class="index__product">
                <div>
                    <a href=""><img src="/images/img-phone-03.jpg" alt=""></a>
                </div>
                <h4>nombre de Producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta asperiores magnam consequatur quae repellat. Labore itaque assumenda ut, ab rerum exercitationem ullam ipsa aliquam illum dignissimos obcaecati. Dolorem, eveniet vitae?</p>
                <a class="index__a">VER MAS</a>
            </article>

        </section>
        <aside>
            <section class="index__tutoriales">
                <h3>Tutoriales</h3>
                <article class="index__tutorial">
                    <img src="/images/aside-02.jpg" alt="">
                    <p>Titulo del tutorial</p>
                </article>
                <article class="index__tutorial">
                    <img src="/images/aside-04.jpg" alt="">
                    <p>Titulo del tutorial</p>
                </article>
                <article class="index__tutorial">
                    <img src="/images/aside-03.jpg" alt="">
                    <p>Titulo del tutorial</p>
                </article>
            </section>
            <section class="index__ad">
                <h3>publicidad</h3>
                <article class="index__ad_i">
                    <img src="/images/ad-01.jpg" alt="">
                    <img src="/images/ad-02.jpg" alt="">
                </article>
            </section>

        </aside>
    </main> 
</body>
</html>