<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="login">
    <header>
        <div class="header__logo">
            <a href="/"><img src="/images/logo.png" alt=""></a>
        </div>
        <nav class="header__menu">
            <ul class="header__menu__sitio">
                <li><a href="">Smartphone</a></li>
                <li><a href="">Tablet</a></li>
                <li><a href="">Computadora</a></li>
            </ul>
            <ul class="header__menu__usuarios">
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>  
    <main>
        
        <form action="">
            
            <section>
                <h1>Ingresa</h1>
                <hr>
                <div class="login__form-box">
                    <label for="email">Email</label>
                    <input class="register__form-input" type="email" id="email" name="email" placeholder="Escribi tu email">
                    <span class="register__text-error">Obligatorio</span>
                </div>
                <div class="login__form-box">
                    <label for="password">Password</label>
                    <input class="register__form-input" type="password" id="password" name="password" placeholder="Escribi tu password">
                    <span class="register__text-error">Obligatorio</span>
                </div>
                    <div class="register__form-box register__center">
                    <button type="submit">ingresar</button> 
            
                </div>
            </section>
        </form>
    </main>
</body>

</html>